@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
/* =======main theme color======= */
  --first-color: #0e2431;
  --second-color: #6a59d1;
  --third-color: #777;
/* =======Hover color======= */
  --hover-color: #614fd0;
  /* =======Background color======= */
  --body-bg-color: #fefefe;
  --card-bg-color: #fff;
  --model-bg-color: #fff;
  --bg-transparent-color: rgba(0, 0, 0, 0.1);
  --bg-transparent-color-01: rgba(0, 0, 0, 0.1);
  --bg-transparent-color-02: rgba(106, 69, 209, 0.1);
  --line-color: #d7d7d7;
  
  /* =======Color Fiter======= */
  --color-filter: invert(1);
  /* =======Box shadow======= */
  --box-shadow: 0px 0px 20px rgba(0 0 0 / 10%);
  /* =======Font size ======= */
  --small-font-size: 0.9em;
  --normal-font-size: 1em;
  /* =======Scroll bar Color======= */
  --scroll-bar-color: #c5cadf;
  --scroll-thamb-ccolor: #70768a;
  --scroll-thamb-hover-color: #454f6b;
  
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}

body {
  color: var(--first-color);
  background: var(--body-bg-color);
  margin: 2rem 0 0 0;
  transition: .5s ease;
}

a {
  text-decoration: none;
}

li{
  list-style:none;
}

/* <!-- ======Scroll to top button====== --> */

/* <!-- ======Light/Dark theme button ====== --> */

/* <!-- ======Scroll Bar====== --> */
/* ::-webkit-scrollbar{
  width: 10px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb{
  background: var(--scroll-thamb-color);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover{
  background: var(--scroll-thamb-hover-color);
} */

/* <!-- ======Header====== --> */
header{
  z-index: 99999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
  transition: .6s ease;
}

header.sticky{
  background: rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
}

.nav-bar {
  position: relative;
  height: calc(4rem + 1rem);
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px ;
  transition: .6s ease;
}

header.sticky .nav-bar{
  height: calc(3.5rem + 1rem);
} 

.nav-bar .logo {
  color: var(--first-color);
  font-size: 1.3em;
  font-weight: 600;
  margin-right: 10px;
}

.navigation {
  display: flex;
  align-items: center;
  margin-left: -100px;
  margin-top: 8px;
}

.nav-items .nav_link{
    float: left;
    height: 100%;
    line-height: 55px;
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
    padding: 0 1rem;
    position: relative;
    transition: .4s;
}

/* <!-- ======Active Links====== --> */
.nav_link.active-link, .nav_link:hover{
    color: #02abff;
}

.nav_link.active-link::after, .nav_link:hover::after{
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: #02abff;
    border-radius: 50%;
    bottom: 0.6rem;
    left: 0;
    right: 0;
    margin: auto;
}
  
.nav-items a:not(:last-child){
    margin-right: 35px;
}


/* <!-- ======Home Section====== --> */

.home {
    position: relative;
    max-width: 1100px;
    min-height: 90vh;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 2rem;
    flex-direction: column;
} 

.home-info {
    display: flex;
    align-items: center;
    margin: 4rem 2rem;
}

.discription {
  background: var(--card-gb-color);
  box-shadow: var(--box-shadow);
  margin: 1rem;
  margin-right: 45px;
  padding: 35px;
  width: 17rem;
  height: 40.5rem;
  border-bottom: 3px solid var(--second-color);
  border-radius: 20px;
  /* transition: .3s ease; */
}

.info-item{
    display: flex;
    flex-wrap: wrap;
    width: 40rem;
}

.info-card{
  background: var(--card-gb-color);
  box-shadow: var(--box-shadow);
  margin: 1rem;
  padding: 35px;
  width: 17rem;
  height: 19.3rem;
  text-align: center;
  border-bottom: 3px solid var(--second-color);
  border-radius: 16px;
  transition: .3s ease;
}


.info-item .info-card p {
  font-size: var(--small-font-size);
  color: var(--third-color);
}

.info-card:hover {
  transform: scale(1.05);
}

.btn {
    background: var(--second-color);
    color: #fff;
    font-size: var(--normal-font-size);
    font-weight: 500;
    display: inline-block;
    margin-top: 20px;
    padding: 15px 18px;
    letter-spacing: 1px;
    border-radius: 10px;
}



/* <!-- ======Comman styles for all Sections====== --> */
.flex-center {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

 .section{
  position: relative;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 2rem 2rem;
}

.sub-section{
  position: relative;
  width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding: 6rem 0;
}

.section-title-01{
  font-size: 4.5em;
  font-weight: 800;
  margin-bottom: 2rem;
  background: linear-gradient(to top, transparent 0%, var(--first-color) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .1;
}

h2.section-title-02{
  font-size: 2.5rem;
  font-weight: 700;
  transform: translateY(-80px);
}

h2.section-title-02:before {
  content: '';
  position: absolute;
  width: 70px;
  height: 5px;
  right: 0;
  bottom: 0;
  background: var(--second-color);
}

.container{
  position: relative;
  flex-direction: column;
}


/* <!-- ======Services Section====== --> */

.services .container .content{
  width: 100%;
}

.services-description h3{
  font-size: 2em;
  margin-bottom: 50px;
}

.service-list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  max-width: 100%;
  margin: 0 auto;
  margin-top: 35px ;
  gap: 20px;
}
.service-card{
  background: var(--card-bg-color);
  border-bottom: 3px solid var(--second-color);
  padding: 50px;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
}

.service-card > i{
  color: var(--second-color);
  font-size: 3em;
  margin-bottom: 30px;
}

.service-card h3{
  font-size: 1.5em;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 20px;
}

.service-card .learn-more-btn{
  color: var(--third-color);
  cursor: pointer;
  transition: 3s ease;
}

.service-card .learn-more-btn i{
  transition: 3s ease;
}

.service-card:hover .learn-more-btn i{
  transform: translateX(10px);
}

.service-modal{
  z-index: 999999;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--bg-transparent-color);
  backdrop-filter: blur(10px);
  visibility: hidden;
  opacity: 0;
  transition: .3s ease;
}

.service-modal.active{
  visibility: visible;
  opacity: 1;
}

.service-modal-body{
  position: relative;
  background: var(--model-bg-color);
  max-width: 600px;
  margin: 20px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transform: translateY(-50px);
  transition: .5s ease;
}

.service-modal.active .service-modal-body{
  transform: translateY(0);
}

.service-modal-body .modal-close-btn{
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
}

.service-modal-body h3{
  font-size: 2em;
}

.service-modal-body h4{
  font-size: 1.3em;
  font-weight: 600;
  margin: 15px 0 10px;
}

.service-modal-body ul li{
  margin-top: 15px;
}

.service-modal-body ul li i{
  color: var(--second-color);
}

  /* <!-- ======About Section====== --> */

.about .container .content {
  column-gap: 25px;
  width: 100%;
}

.about-img{
  position: relative;
}

.about-img{
  max-width: 100%;
}

.about-info .description {
  max-width: 600px;
}

.about-info .description h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-info .description h4 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-info .description h4 span {
  color: var(--second-color);
}

.about-info .description p{
  color: var(--third-color);
  font-size: var(--normal-font-size);
  margin-bottom: 15px;
  padding-bottom: 25px;
  border-bottom: 2px solid var(--line-color);
}

.about-info .professional-list {
  display: flex;
  column-gap: 30px;
}

.about-info .professional-list .list-item h3{
  font-size: 2em;
  font-weight: 700;
}

.about-info .professional-list .list-item span {
  color: var(--third-color);
  font-size: var(--small-font-size);
}



/* <!-- ======Skills Section====== --> 
.skills .container .content {
  width: 100%;
}

.skills-description {
  max-width: 700px;
  margin-bottom: 50px;
}

.skills-description h3 {
  font-size: 2em;
  margin-bottom: 5px;
}

.skills-info {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 35px;
  margin: 0 auto;
}

.skills-info h4{
  margin-bottom: 20px;
}

.skills-info h4 label {
  background: var(--second-color);
  color: #fff;
  font-size: var(--normal-font-size);
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 5px;
}

.education-all {
  margin-bottom: 80px;
}

.edu-list .item {
  background: var(--card-bg-color);
  box-shadow: var(--box-shadow);
  border-bottom: 3px solid var(--second-color);
  padding: 20px;
  margin-top: 15px;
  border-radius: 10px;
  transition: .3s ease;
}

.edu-list .item .year {
  font-size: var(--small-font-size);
  margin-bottom: 5px;
}

.edu-list .item p {
  font-size: var(--small-font-size);
  color: var(--third-color);
}

.edu-list .item p span {
  color: var(--first-color);
  font-size: var(--normal-font-size);
  font-weight: 500;
} 

.bar {
  background: var(--card-bg-color);
  box-shadow: var(--box-shadow);
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 6px;
  transition: .3s ease;
  border-bottom: 3px solid var(--second-color);
}

.bar .info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: var(--normal-font-size);
}

.bar .info span {
  font-weight: 500;
}

.bar .line {
  position: relative;
  width: 100%;
  height: 7px;
  background: #c5cadf;
  border-radius: 2px;
}

.bar .line:before{
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--second-color);
  border-radius: 2px;
}

.bar .html:before{
  width: 95%;
}

.bar .css:before{
  width: 80%;
}

.bar .Javascript:before{
  width: 75%;
}

.bar .java:before{
  width: 93%;
}

.bar .c_lang:before{
  width: 85%;
} 

.experience-card {
  background: var(--card-gb-color);
  box-shadow: var(--box-shadow);
  padding: 35px;
  border-bottom: 3px solid var(--second-color);
  border-radius: 11px;
  transition: .3s ease;
}

.experience-card .upper {
  line-height: 30px;
}

.experience-card h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

.experience-card h5 {
  font-size: var(--normal-font-size);
  font-weight: 500;
  font-style: italic;
}

.experience-card span{
  color: var(--third-color);
}

.experience-card .hr{
  width: 100%;
  height: 2px;
  background: var(--line-color);
  margin: 10px 0px 22px;
}

.edu-list .item:hover, .bar:hover, .experience-card:hover{
  transform: scale(1.05);
} */

/* <!-- ======Services Section====== --> */

/* <!-- ======Portfolio Section====== --> */

/*<!-- ======get in touch====== -->*/


/* <!-- ======Contact Section====== --> */

.contact .container .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-left h2{
  font-size: 2.1em;
  font-weight: 800;
  margin-bottom: 40px;
}

.contact-list {
  margin-top: 9em;
}

.contact-list li{
  margin-bottom: 71px;
}

.contact-list li h3 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact-list li i {
  font-size: 1.3em;
  color: var(--second-color);
  margin-right: 10px;
}

.contact-list li span {
  color: var(--third-color);
  margin-left: 40px;
}

.contact-list li span a{
  color: var(--third-color);
}

.contact-right p {
  color: var(--third-color);
  font-size: 1.6em;
  margin-bottom: 30px;
}

.contact-right p span {
  color: var(--first-color);
  font-weight: 600;
}

input,
textarea {
  border: none;
  color: var(--first-color);
  background: var(--bg-transparent-color-02);
  font-size: var(--normal-font-size);
  margin-bottom: 20px;
  padding: 15px 40px 40px 20px;
  border-radius: 5px;
}

textarea {
  width: 100%;
  resize: none;
}

::placeholder{
  color: var(--first-color);
}

.first-row input{
  width: 100%;
}

.second-row {
  display: flex;
  justify-content: space-between;
}

.second-row input{
  width: 48%;
}

.sent {
  border: none;
  margin-top: 0;
  border-radius: 5px;
  cursor: pointer;
}
